<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.mechaneyes.stormy"
    version     = "0.2" >

    <name>Storm King Mapped</name>

    <description>
        Mapping Storm King with iOS
    </description>

    <author href="http://mechaneyes.com" email="ray@mechaneyes.com">
        Ray Weitzenberg
    </author>

    <preference name="orientation" value="portrait" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
</widget>